<%= form_with(model: wine) do |form| %>
  <% if wine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(wine.errors.count, "error") %> prohibited this wine from being saved:</h2>

      <ul>
        <% wine.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  
  <% if @wine.strains.count > 0 %>
    <%= @wine.strains.count %>
  <% end %>

  <%= form.fields_for :wine_strains do |wine_strains_form| %>
    <div>
      <%= wine_strains_form.number_field :percentage, in: 0..100, step: 0.1 %>
      <%= wine_strains_form.collection_select(:strain_id, Strain.all, :id, :name, { :prompt => 'Selecciona una cepa' }) %>
      <%# <%= wine_strains_form.collection_select(:strain_id, Strain.where.not(name: @wine.strains.pluck(:name)), :id, :name, prompt: true) %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
