<%= form_with(model: wine) do |form| %>
  <% if wine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(wine.errors.count, "error") %> prohibited this wine from being saved:</h2>

      <ul>
        <% wine.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <%= form.fields_for :wine_strains do |wine_strains_form| %>
    <div>
      <%= wine_strains_form.number_field :percentage, in: 0..100, step: 0.1 %>
      <%= wine_strains_form.collection_select(:strain_id, Strain.all, :id, :name, { :prompt => 'Selecciona una cepa' }) %>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :score %>
    <%= form.number_field :score, in: 0..100, step: 0.5 %>
  </div>

  <div class="field">
    <%= form.collection_check_boxes :oenologist_ids, Oenologist.all, :id, :name  do |b|%>
      <div>
        <%= b.label(:"data-value" => b.value) { b.check_box + b.text } %>
      </div>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
