<p id="notice"><%= notice %></p>

<h1>Wines</h1>
<% @wines.each do |wine| %>

  <div>
    <span>
      <%= wine.name %>
    </span>
    <span>
      <span><%= link_to 'Show', wine %></span>
      <span><%= link_to 'Add', add_new_path(wine) %></span>
      <span><%= link_to 'Edit', edit_wine_path(wine) %></span>
      <span><%= link_to 'Destroy', wine, method: :delete, data: { confirm: 'Are you sure?' } %></span>
    </span>
  </div>

  <ul>
    <% wine.strains.order(:name).each do |ws| %>
      <li>
        <%= ws.name %> (<%= wine.wine_strains.find_by(strain_id: ws.id).percentage %>%)
      </li>
    <% end %>
  </ul>
<% end %>

<br>

<%= link_to 'New Wine', new_wine_path %>
